* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
  }

html {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

.item1 {
    grid-area: header;
    position: fixed;
    width:100%;
}
.item3 {
    grid-area: main; 
    margin-top: 160px;
    padding: 20px;
}
.item4 { 
    grid-area: right;
    margin-top: 160px;
    width: 200px;
    height:auto;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgb(191, 16, 0);
}

.item5 { 
    position:static;
    bottom: 0px;
    grid-area: footer;
    padding: 0px;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main right right'
    'footer footer footer footer footer footer';
  gap: 20px;
  padding: 0px;
}

section {
    height: 140px;
    background: rgb(191, 16, 0);
}
section span {
    margin: 0;
    font-size: 100%;
    text-align: center;
    line-height: 1;
    padding-top: 5px;
    margin-left: 200px;
    display: block;
}

nav a {
    float: right;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    background-color: white;
}


#link-about{
    padding-left: 40px;
}

#link-autos {
    padding-left: 40px;
}

#link-contacto{
    padding-left: 40px;
}

#logo {
    position: absolute;
    margin: 10px;
}

h1 {
    color: rgb(255, 255, 255);
    position: relative;
    font-style: italic;
    font-size: 300%;
}

.parrafito {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
  }