* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
  }

html {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

.item1 {
    grid-area: header;
    position: fixed;
    width:100%;
}
.item3 {
    grid-area: main; 
    margin-top: 12vw;
    padding: .3vw;
}
.item4 { 
    grid-area: right;
    margin-top: 10vw;
    width: 15vw;
    height:auto;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 100%;
    padding-bottom: auto;
    text-align: center;
    color: white;
    background-color: rgb(191, 16, 0);
    font-size: 1.2vw;
    font-style: italic;
    font-weight: bold;
}

.item5 { 
    position:static;
    bottom: 0px;
    grid-area: footer;
    padding: 0px;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 1.2vw;
    font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main right right'
    'footer footer footer footer footer footer';
  gap: 0px;
  padding: 0px;
}

section {
    height: 10vw;
    background: rgb(191, 16, 0);
}
section span {
    margin: 0;
    font-size: 100%;
    text-align: center;
    line-height: 1;
    padding-top: .1vw;
    margin-left: 10vw;
    display: block;
}

nav a {
    float: right;
    text-decoration: none;
    padding: .8vw;
    width:fit-content;
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
    font-style: italic;
}

nav {
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 9px rgb(66, 66, 66);
}


#link-about{
    padding-left: 40px;
}

#link-autos {
    padding-left: 40px;
}

#link-contacto{
    padding-left: 40px;
}

#logo {
    position: absolute;
    margin: 10px;
    width: auto;
    height: 8vw;
}

h1 {
    color: rgb(255, 255, 255);
    position: relative;
    font-style: italic;
    font-size: 4vw;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 3vw;
    text-align: center;
}

h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 0%;
    line-height: 0%;
}

.parrafito {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}

.wrapper div:nth-child(1) {
    grid-column-end: span 2;
    grid-row-end: span 2;
    cursor: pointer;
}
.wrapper div:nth-child(2) {
    grid-column-end: span 2;
    grid-row-end: span 2;
    cursor: pointer;
}
.wrapper div:nth-child(3) {
    grid-column-end: span 2;
    grid-row-end: span 2;
    cursor: pointer;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    gap: 3vw;
    grid-auto-flow: dense;
    text-align: center;
    padding: 0%;
}

.imagenesC {
    position: static;
    max-height: 80%;
    max-width: 100%;
    margin-bottom: -1vw;
}

.infoCarros {
    position: static;
    margin-top: 0%;
    padding: 0px;
    text-align: center;
    font-size: 1.1vw;
    line-height: normal;
}